@import url('./normalize.css');
@import url('./index.shadow.desktop.css');
@import url('./index.shadow.desktop.custom.css');
@import url('./base.css');
@import url('./swagger-ui.css');

iframe {
    position: absolute!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}